$color-dark-primary-2: #00094B;
$color-dark-primary-1: rgb(22, 43, 111);
$color-dark-primary-3: #00157F;
$color-dark-primary-4: #003297;
$color-main-blue-1: #2f5572;

$color-dark-black-1: #0c0c0c;
$color-dark-black-2: #1d1d1d;
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff;
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #ccc;

$mainOrange: #d59541;
$mainPurple: #e0e6;

$bp-sidebaroff: 43.75em;

$color-primary: #3046C5;
$color-secondary: #5637dd;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-dark: #60106b;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 
0 6px 6px rgba(0, 0, 0, 0.23);